extends ../base/base-lect.pug

block layout-settings
    include ../lectures/themes/css-basics.pug
    - var conf = cssBasics;
    - var pageTitle = conf.title;
    - var pageType = 'lecture'
    - var currentPage = conf.page;
    - var subthemes = conf.subthemes;
    -
        var selectorsTable = [[
                'Селектор тега:',
                'p { ... }'
            ], [
                'Селектор класса:',
                '.class { ... }'
            ], [
                'Селектор индентификатора:',
                '#id { ... }'
            ], [
                'Селектор атрибута:',
                '[data-title=”...”] { ... }'
            ], [
                'Селектор псевдокласса:',
                ':hover { ... }'
            ], [
                'Селектор псевдоэлемента:',
                '::before { ... }'
            ], [
                'Универсальный селектор:',
                '* { ... }'
        ]]
    -
        var combinatorsTable1 = [[
                'Все <div class=”wrapper”>:',
                'div.wrapper { ... }'
            ], [
                'Только <div id=”modal”>:',
                'div#modal { ... }'
            ], [
                'Все <a>, имеющие атрибут title:',
                'a[title] { ... }'
            ], [
                'Все <a>, атрибут title которых содержит слово show:',
                'a[title*=”show”] { ... }'
            ], [
                'Все <a>, title которых содержит show, отделенное пробелом:',
                'a[title~=”show”] { ... }'
            ], [
                'Все <a>, title которых начинается с show:',
                'a[title^=”show”] { ... }'
            ], [
                'Все <a>, title которых заканчивается на show:',
                'a[title$=”show”] { ... }'
            ], [
                'Все <a>, при наведении на них курсора:',
                'a:hover { ... }'
            ], [
                'Псевдоэлемент:',
                'a::before { ... }'
        ]]
    -
        var combinatorsTable2 = [[
                'Все <p>, все <div>:',
                'div, p { ... }'
            ], [
                'Все <p>, являющиеся потомками <div>:',
                'div p { ... }'
            ], [
                'Все <p>, являющиеся прямыми потомками <div>:',
                'div > p { ... }'
            ], [
                'Все потомки <div>:	',
                'div * { ... }'
            ], [
                'Все прямыe потомки <div>:',
                'div > * { ... }'
            ], [
                'Каждый <p>, следующий сразу после <div>:',
                'div + p { ... }'
            ], [
                'Все <p>, после <div>:',
                'div ~ p { ... }'
        ]]
    -
        var listToRead = []
block main
    include ../base/mixins/mixin-slides.pug
    main.main
        .slides-wrap
            +main-slide(pageTitle, 'Света Шарипова')

            .slide(id=subthemes.linkingStyles.href)
                h2.h2.-subtheme-h= subthemes.linkingStyles.title
                .section.-centered
                    h3.h4.-black 1. Подключение стилей в отдельном документе
                    include ../lectures/code-examples/css-basics/external-css.pug

                .section.-centered
                    h3.h4.-black 2. Подключение стилей в
                        +inline-html()
                            <head>
                    include ../lectures/code-examples/css-basics/css-in-head.pug

                .-hidden-on-slide
                    +remember()
                        | Подключать в
                        +inline-html()
                            <head>
                        | имеет смысл, только если у вас SPA (Single Page Application) и есть подтвержденная тестами производительности необходимость в этом. В таком случае нужно разработать стратегию поддержки таких стилей и автоматизировать их добавление.
                        br
                        br
                        | Обычная практика - подключать стили в отдельном документе (1).
            .slide
                h2.h2.-subtheme-h.-visible-on-slide= subthemes.linkingStyles.title
                .section.-centered
                    h3.h4.-black 3. Инлайн-стили
                    +strike-block()
                        include ../lectures/code-examples/css-basics/inline-styles.pug
                    .-hidden-on-slide
                        +hint()
                            | Инлайн-стили можно добавлять динамически с помощью JavaScript, но только если стили рассчитываются на лету. Если стили нужно обновить через JS и они заранее известны, то всегда используйте атрибут class.
                .section.-centered
                    h3.h4.-black 4. Импорт стилей внутри документа .css
                    +strike-block()
                        include ../lectures/code-examples/css-basics/import-in-css.pug
            .slide(id=subthemes.selectors.href)
                h2.h2.-subtheme-h= subthemes.selectors.title
                +two-col-table-th-in-tbody-css(selectorsTable)
            .slide(id=subthemes.combinators.href)
                h2.h2.-subtheme-h= subthemes.combinators.title
                h3.h4.-black.-hidden-on-slide Несколько селекторов одного элемента
                +two-col-table-th-in-tbody-css(combinatorsTable1)
            .slide().section
                h2.h2.-subtheme-h.-visible-on-slide= subthemes.combinators.title
                h3.h4.-black.-hidden-on-slide Комбинации селекторов разных элементов
                +two-col-table-th-in-tbody-css(combinatorsTable2)

            .slide()
                h3.h3.-subtheme-h Расчет специфичности
                .-hidden-on-slide
                    +p()
                        +bold-sematics-attention('Специфичность (specificity)')
                        | - это "вес селектора", помогающий браузеру определить, какое из нескольких конфликтующих правил применить к элементу.
                .simple-table
                    table
                        tr
                            th Универсальный селектор
                                +bold-no-sematics('*')
                                br
                                | или
                                br
                                | Псевдокласс
                                +bold-no-sematics(':not')
                            td 0, 0, 0, 0
                        tr
                            th Элемент (селектор тега), например,
                                +bold-no-sematics('p')
                                br
                                | или
                                br
                                | Псевдоэлемент, например,
                                +bold-no-sematics('::before')
                            td
                                | 0, 0, 0,
                                +space()
                                span.-bold 1
                        tr
                            th Класс, например,
                                +bold-no-sematics('.wrapper')
                                br
                                | или
                                br
                                | Атрибут, например,
                                +bold-no-sematics('[title]')
                            td
                                | 0, 0,
                                +space()
                                span.-bold 1
                                |, 0

                        tr
                            th ID, например,
                                +bold-no-sematics('#modal')
                            td
                                | 0,
                                +space()
                                span.-bold 1
                                |, 0, 0
                        tr
                            th Инлайн-стиль
                                +inline-html().
                                    <style></style>
                            td
                                span.-bold 1
                                |, 0, 0, 0
                        tr
                            th
                                span.-bold !important
                            td
                                span.-bold 1
                                |, 0, 0, 0, 0
            .slide().-pushed-down
                h3.h4.-black.-subtheme-h Пример
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="ZLRPqN" data-default-tab="css,result" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[css basics] - specificity" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/ZLRPqN/">[css basics] - specificity</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>
