extends ../base/base-lect.pug

block layout-settings
    include ../lectures/themes/scss.pug
    - var conf = scss;
    - var pageTitle = conf.title;
    - var pageType = 'lecture'
    - var currentPage = conf.page;
    - var subthemes = conf.subthemes;
    -
        var listToRead = [{
            id: "toRead-1",
            title: "Sass Basics",
            href: "http://sass-lang.com/guide"
        }, {
            id: "toRead-2",
            title: "Sass Documentation",
            href: "http://sass-lang.com/documentation/file.SASS_REFERENCE.html"
        }]
block main
    include ../base/mixins/mixin-slides.pug
    main.main
        .slides-wrap
            +main-slide(pageTitle, 'Имя автора лекции')
            .slide(id=subthemes.scssComments.href)
                h2.h2.-subtheme-h= subthemes.scssComments.title
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="vxgWJM" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Comments" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/vxgWJM/">[ scss ] - Comments</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide(id=subthemes.scssVars.href)
                h2.h2.-subtheme-h= subthemes.scssVars.title
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="bqgYYE" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Vars" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/bqgYYE/">[ scss ] - Vars</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide(id=subthemes.scssDefault.href)
                h2.h2.-subtheme-h= subthemes.scssDefault.title
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="JWEOOB" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Vars and !default" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/JWEOOB/">[ scss ] - Vars and !default</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide(id=subthemes.scssInterpolation.href)
                h2.h2.-subtheme-h= subthemes.scssInterpolation.title
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="qrRMpB" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Interpolation" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/qrRMpB/">[ scss ] - Interpolation</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide(id=subthemes.scssNesting.href)
                h2.h2.-subtheme-h= subthemes.scssNesting.title
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="qrRMWv" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Nesting -> combinators" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/qrRMWv/">[ scss ] - Nesting -> combinators</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide(id=subthemes.scssNestingAmp.href)
                h2.h2.-subtheme-h= subthemes.scssNestingAmp.title
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="evgLYK" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Nesting and &" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/evgLYK/">[ scss ] - Nesting and &</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide(id=subthemes.scssNestedMQ.href)
                h2.h2.-subtheme-h= subthemes.scssNestedMQ.title
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="vxgzEE" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Nested MQ" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/vxgzEE/">[ scss ] - Nested MQ</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide(id=subthemes.scssExtend.href)
                h2.h2.-subtheme-h= subthemes.scssExtend.title
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="yMgxyv" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Extend" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/yMgxyv/">[ scss ] - Extend</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide(id=subthemes.scssMixin.href)
                h2.h2.-subtheme-h= subthemes.scssMixin.title
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="YZNOXz" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Mixin" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/YZNOXz/">[ scss ] - Mixin</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide()
                h3.h3.-subtheme-h Миксины с аргументами
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="wJgEOy" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Mixin with arg" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/wJgEOy/">[ scss ] - Mixin with arg</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide()
                h3.h3.-subtheme-h Миксины с if
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="wJgYwj" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Mixin with if" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/wJgYwj/">[ scss ] - Mixin with if</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide(id=subthemes.scssPlaceholders.href)
                h2.h2.-subtheme-h= subthemes.scssPlaceholders.title
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="JWEadz" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Placeholders" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/JWEadz/">[ scss ] - Placeholders</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide()
                h3.h3.-subtheme-h Контекст плейсхолдеров
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="XMpxjb" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Placeholders - context" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/XMpxjb/">[ scss ] - Placeholders - context</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide(id=subthemes.scssMath.href)
                h2.h2.-subtheme-h= subthemes.scssMath.title
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="dvNqGb" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - Math" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/dvNqGb/">[ scss ] - Math</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide(id=subthemes.scssColorFunctions.href)
                h2.h2.-subtheme-h= subthemes.scssColorFunctions.title
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="QpdVyq" data-default-tab="css" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="[ scss ] - ColorFunctions" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/QpdVyq/">[ scss ] - ColorFunctions</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide(id=subthemes.scssFileStructure.href)
                h2.h2.-subtheme-h= subthemes.scssFileStructure.title
                +code('scss').
                    @import 'blocks/header';
            .slide
                h3.h3.-subtheme-h Файловая структура: scss повторяет pug
                +codepen()
                    <p data-height="265" data-theme-id="light" data-slug-hash="WpRaOP" data-default-tab="result" data-user="HTML5-Noveo-SU" data-embed-version="2" data-pen-title="filestructure" class="codepen">See the Pen <a href="http://codepen.io/HTML5-Noveo-SU/pen/WpRaOP/">filestructure</a> by HTML Five Noveo Software University (<a href="http://codepen.io/HTML5-Noveo-SU">@HTML5-Noveo-SU</a>) on <a href="http://codepen.io">CodePen</a>.</p>

            .slide()
                .-centered
                    +toRead("Полезные ссылки", listToRead)
